<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Principale</servlet-name>
        <servlet-class>com.aolivieri.LBClocalisation</servlet-class>
        <servlet-mapping>
            <servlet-name>Principale</servlet-name>
            <url-pattern>/principale</url-pattern>
        </servlet-mapping>
    </servlet>
    <servlet>
        <servlet-name>la_main_servlet</servlet-name>
        <servlet-class>com.aolivieri.LBClocalisation.la_main_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>la_main_servlet</servlet-name>
        <url-pattern>/la_main_servlet</url-pattern>
    </servlet-mapping>
</web-app>
